html {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1, h2, h3 {
    color: navy;
}


table {
    width: 100%;
    border-collapse: collapse;;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

nav {
    margin-bottom: 20px;
    background-color: gray;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: white;
    background-color: darkslategrey;
}