<!DOCTYPE html>
<html lang="en">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Wiki Personal</title>
    <link rel="stylesheet" href="/estilos.css">
</head>
<body>
    <nav th:fragment="navegacion">
        <a th:href="@{/}">Inicio</a> |
        <a th:href="@{/index}">Índice</a> |
        <a th:href="@{/pagina/about}">Acerca de</a>
    </nav>


    <footer th:fragment="pie">
        <p>&copy; 2026 Mi Wiki Personal &dash; Jairo Chapela</p>
    </footer>
</body>
</html>