<!DOCTYPE html>
<html lang="en">
<head th:replace="~{base :: head}"></head>
<body>
    <nav th:insert="~{base :: navegacion}"></nav>

    <form action="" method="post">
        <label for="titulo">Título:</label><br>
        <input type="text" id="titulo" name="titulo" th:value="${doc.titulo}"><br><br>
        <label for="contenido">Contenido:</label><br>
        <textarea id="contenido" name="contenido" rows="10" cols="30" th:text="${doc.contenido}"></textarea><br><br>
        <input type="submit" value="Guardar">
    </form>

    <footer th:insert="~{base :: pie}"></footer>
</body>
</html>