<!DOCTYPE html>
<html lang="en">
<head th:insert="~{base :: head}"></head>
<body>
    <nav th:insert="~{base :: navegacion}"></nav>

    <h1>Índice de Páginas</h1>

    <table class="table">
        <thead>
            <tr>
                <th><a href="?orden=nombre">Nombre</a></th>
                <th><a href="?orden=fecha">Última Modificación</a></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="f : ${entradas}">
                <td><a th:href="'/pagina/' + ${f.getRuta()}" th:text="${f.getRuta()}"></a></td>
                <td><span th:text="${#dates.format(f.getFechaModificacion(), 'dd/MM/yyyy HH:mm')}"></span></td>
            </tr>
        </tbody>
    </table>

    <footer th:insert="~{base :: pie}"></footer>
    <script th:insert="~{base :: script}"></script>
</body>
</html>